body {
  height: 100vh;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 100% ;
  display: flex;
  justify-content: center;
  /* gap: 5rem; */
  padding-bottom: 100px;
}
a {
  width: 25%;
  color: #00B7FF;
  text-align: center;
}

td{
  text-align: center;
  border: black 1px solid;
  border-right: black 1px solid;
  /* padding-left: 5px;
  padding-right: 5px; */
  /* padding: auto; */
  padding: 10px 5px;
}

#list a {
  border-radius: 4px;
  background-color: #dbd4d4;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}
#add-destination-form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}